<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="CourseManagement.EmailProcessing.Actions.IActionFactory, CourseManagement.EmailProcessing"
                mapTo="CourseManagement.EmailProcessing.Actions.UnityActionFactory, CourseManagement.EmailProcessing"/>
      
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
